<div class="main-wrapper login-body">
    <div class="login-wrapper">
        <div class="container">
          <div class="card">
           <div class="card-header">
           	  <h3 class="float-left">Estadísticas</h3>
              <button [routerLink]="'/add'" class="float-right btn btn-primary">
            	<i class="fa fa-plus"></i>
              </button>
           </div>
           <div class="card-body">
			<table class="table table-hover">
			  <thead>
			    <tr>
			      <th></th>
			      <th>Question</th>
			      <td *ngFor="let user of users" scope="col">{{ user.username }}</td>
			    </tr>
			  </thead>
			  <tbody *ngFor="let user of users">
			    <tr *ngFor="let answer of user.bets; index as i">
			      <th *ngIf="i!=0" scope="row">{{i}}</th>
			      <th *ngIf="i!=0" scope="row">{{ answer.question }}</th>
			      <td *ngIf="i!=0" scope="row">{{ answer.answer }}</td>
			    </tr>
			  </tbody>
			</table>
          </div>
        </div>
    </div>
</div>